pandas
yfinance
keras
matplotlib
plotly>=5.22.0
tensorflow>=2.16.0,<3.0
pandas_ta
seaborn
numpy==1.26.3
scikit-learn==1.3.2
streamlit==1.29.0
streamlit-option-menu==0.3.6
pystan
yfinance==0.2.26
Flask==2.2.3
Werkzeug==2.2.2